* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.custom {
    text-align: center;
}


canvas {
    border: 1px solid #000;
}